<style type="text/css">
  body
  {
    background-color: #00aa66;
  }

  p
  {
    background-color: #00eeff;
    border: 3px solid #ffaa00;
    padding: 5px;
    box-shadow: 0 0 10px 10px #ff00ff;
    width: 100px;
  }
</style>

<%= @game.player_1.name %> vs. <%= @game.player_2.name %>
<%= @game.player_2.name %>: <%= @game.player_2.health %>HP

<a href='/attack'>attack!</a>